<div class="remove-container container-block">
  <h2 class="container-block-title">Business info</h2>
  <h3>Business ID</h3>
  88124444 (<a href="http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_rzp.cgi?ico=88124444&jazyk=en&xml=1&rozsah=0">RŽP</a>, <a href="http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_res.cgi?ico=88124444&jazyk=en&xml=1">RES</a>)<br>
  Non-payer of VAT.<br>
  <br>
  <h3>Office address</h3>
  (shipping address & visits)<br>
  Radim Klaška, <a href="http://www.cowosedlice.cz">Cowosedlice.cz</a><br>
  Míru 218<br>
  417 31 Novosedlice<br>
  Czech Republic<br>
  <br>
  <h3>Billing address</h3>
  Bc. Radim Klaška<br>
  Proboštovská 281/33<br>
  417 12 Proboštov<br>
  Czech Republic<br>
  <br>
  <h3>Business bank account (CZK)</h3>
  2100745770 / 2010<br>
  IBAN: CZ8120100000002100745770<br>
  SWIFT/BIC: FIOBCZPP<br>
</div><!--//About-->
