<div class="remove-container container-block">
  <h2 class="container-block-title">Business info</h2>
  <h3>Address</h3>
  Bc. Radim Klaška<br>
  Proboštovská 281/33<br>
  417 12 Proboštov<br>
  Czech Republic<br>
  <br>
  <b>Business ID:</b><br>
  88124444 (<a href="http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_rzp.cgi?ico=88124444&jazyk=en&xml=1&rozsah=0">RŽP</a>, <a href="http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_res.cgi?ico=88124444&jazyk=en&xml=1">RES</a>)<br>
  Non-payer of VAT.<br>
  <br>
  <b>Bank account number:</b><br>
  IBAN: CZ8120100000002100745770<br>
  SWIFT/BIC: FIOBCZPP<br>
</div><!--//About-->
