<div class="contact-container container-block">
  <h3 class="container-block-title">Contact</h3>
  <ul class="list-unstyled contact-list">
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:radim@klaska.net">radim@klaska.net</a>
    </li>
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:+420 605 271 780">+420 605 271 780</a>
    </li>
    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="http://klaska.net" target="_blank">www.klaska.net</a>
    </li>
  </ul>
  <br>

  <h3 class="container-block-title">Verify</h3>
  <ul class="list-unstyled contact-list">
    <li class="sshkey"><i class="fas fa-key"></i>
      <a href="https://github.com/radimklaska.keys" target="_blank">SSH key</a>
    </li>
    <li class="gpgkey"><i class="fas fa-fingerprint"></i>
      <a href="https://github.com/radimklaska.gpg" target="_blank">GPG key</a>
    </li>
    <li class="keybase"><i class="fab fa-keybase"></i>
      <a href="https://keybase.io/radimklaska" target="_blank">Keybase.io</a>
    </li>
  </ul>
  <br>

  <h3 class="container-block-title">Code</h3>
  <ul class="list-unstyled contact-list">
    <li class="drupal"><i class="fab fa-drupal"></i>
      <a href="https://www.drupal.org/u/radimklaska" target="_blank">Drupal.org</a>
    </li>
    <li class="github"><i class="fab fa-github"></i>
      <a href="https://github.com/radimklaska" target="_blank">GitHub</a>
    </li>
    <li class="gitlab"><i class="fab fa-gitlab"></i>
      <a href="http://gitlab.com/radimklaska" target="_blank">GitLab</a>
    </li>
    <li class="bitbucket"><i class="fab fa-bitbucket"></i>
      <a href="http://bitbucket.com/radimklaska" target="_blank">BitBucket</a>
    </li>
    <li class="stack-overflow"><i class="fab fa-stack-overflow"></i>
      <a href="https://stackoverflow.com/users/1790545/radimklaska" target="_blank">Stack overflow</a>
    </li>
  </ul>
  <br>

  <h3 class="container-block-title">Social</h3>
  <ul class="list-unstyled contact-list">
    <li class="twitter"><i class="fab fa-twitter"></i>
      <a href="https://twitter.com/radimklaska" target="_blank">Twitter</a>
    </li>
    <li class="instagram"><i class="fab fa-instagram"></i>
      <a href="https://instagram.com/radimklaska" target="_blank">Instagram</a>
    </li>
    <li class="youtube"><i class="fab fa-youtube"></i>
      <a href="https://www.youtube.com/c/RadimKla%C5%A1ka" target="_blank">YouTube</a>
    </li>
    <li class="reddit"><i class="fab fa-reddit"></i>
      <a href="https://www.reddit.com/user/radimklaska" target="_blank">Reddit</a>
    </li>
    <li class="facebook"><i class="fab fa-facebook"></i>
      <a href="https://www.facebook.com/radimklaska" target="_blank">Facebook</a>
    </li>
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/radimklaska" target="_blank">Linkedin</a>
    </li>
  </ul>
  <br>

  <h3 class="container-block-title">Support</h3>
  <ul class="list-unstyled contact-list">
    <li class="githubsponsors"><i class="far fa-heart"></i>
      <a href="https://github.com/sponsors/radimklaska" target="_blank">GitHub Sponsors</a>
    </li>
    <li class="paypal"><i class="fab fa-paypal"></i>
      <a href="https://www.paypal.me/radimklaska" target="_blank">PayPal.me</a>
    </li>
  </ul>
</div><!--//contact-container-->
