{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

    <a href="/onewheel"><img class="img-thumbnail pull-right" src="{{ site.baseurl }}/assets/images/owrk.png" alt="OneWheel"></a>

  <h2 class="section-title vcenter">
      <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-tools fa-stack-1x fa-inverse"></i>
    </span>
    Reverse engineering OneWheels
  </h2>

  <div class="intro">
      <p>OneWheel XR is a super cool personal electric vehicle, but the manufacturer support is weak.</p>
  </div><!--//intro-->

  <div class="summary">
    <p>The manufacturer is actively obfuscating and locking down the internals to prevent aftermarket upgrades and
      refusing to sell replacement parts. I like the product and these limitations got in a way.
      I was able to accumulate a lot of technical details about the product. My biggest achievement is reading and decompiling the BMS firmware.
      I was not the first to do it, but I figured it out myself and documented the process.</p>
    <p>I'm also one of the few people able to repair OneWheels in Europe.</p>
    <p>You can find more info on my site: <a href="/onewheel">https://radimklaska.github.io/onewheel</a></p>
  </div>

</section><!--//section-->
{% endif %}
